
.container-1, .container-2, .container-3, .container-4, .container-5 {
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
}

.container-2 button {
    margin-bottom: 5px;
}

.flex-box-container, .flex-box-container-2, .flex-box-container-3, .flex-box-container-4, .flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
}

.flex-box-container-2 img {
    margin: 10px;
}

.flex-box-container-3 img{
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}

.flex-box-container-4 button {
    margin: 5px;
}

table, th, td, tr {
    padding: 5px;
    border: 1px solid black;
}

.flex-blackjack-row-1, .flex-blackjack-row-2{
    background-image: url("/static/images/background.jpg");
    color: #fff;
}